.card .category:not([class*="text-"]) { color: #999; }
h3, .h3 { font-size: 1.3em; }
.card-stats .card-header { box-shadow: none; margin: 0; padding: 10px; }
.card-stats .card-header i { font-size: 40px; line-height: 48px; width: 40px; height: 40px; }
.card-stats .card-content { text-align: left; }
.card [data-background-color="green"] { box-shadow: none; background: #ffffff; }
.main-panel>.content { margin-top: 20px; }
.card { margin: 15px 0; }
.navbar.navbar-transparent { padding-top: 5px; }

.card [data-background-color] { color: #43a047; }
.togglebutton label input[type=checkbox]:checked+.toggle:after { border-color: #43a047; }
.togglebutton label input[type=checkbox]:checked+.toggle { background-color: #43a047; }

